<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="app.js"></script>
    <title>數學白痴計算機</title>
</head>

<body>
    <div id="app">
        <div id="control-section">
            <button class="control" @click="back">上一步</button>
            <button class="control" @click="clear">清除</button>
        </div>
        <div id="www">
            <div id="stack-container">
                <div class="price-stack-items" v-for="item in itemStack">
                    <div class="price-stack">
                        {{item}}
                    </div>
                </div>
            </div>
            <div id="button-container">
                <div v-for="price in priceList">
                    <button class="button-price" @click="add(price)">{{price}}</button>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="total-block">
                <span>總價</span>
                <h1>{{total}}</h1>

            </div>
            <div id="least-calc">
                <div id="leastPrice">
                    <span>低消</span>
                    <h1 :class="{'not-enough': notEnough}">{{leastPrice}}</h1>
                </div>
                <div id="customer-quantity-section">
                    <div id="minus"><span @click="quantityChange(-1)">-</span></div>
                    <div id="quantity"><span>{{customerQauntity}}</span></div>
                    <div id="add"><span @click="quantityChange(1)">+</span></div>

                </div>
            </div>
        </div>

    </div>

</body>

</html>

