html,body{
    height:100%;
}
button{
    width: 300px;
    height: 60px;
    background-color: rgb(65, 65, 65);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:1px;    
    border-radius: 30px 30px 30px 30px;
    outline: none;

    transition: 0.2s;
}
.button-price:hover{
    font-size: 25px;
}

.price-stack-items:last-child{
    font-size: 20px;
    transition: 0.9s;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

#control-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#app{
    display: flex;
    height: 100%;
    flex-direction: column;
}
#www{
    display: grid;
    grid-template-columns: 10% auto;
    
}

#button-container{
 overflow-y: scroll;
 height: 90%
}

.control{
    width: 100px;
    height: 50px;
    padding: 0px;
    background-color: silver;
    color:rgb(65, 65, 65);
}

#footer{
    display: flex;
    justify-content: space-between;
    padding: 3% 10px 0 10px;
    
}

#least-calc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-right: 10%;
}

#price-diff{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#customer-quantity-section{
    display: grid;
    height:40px;
    grid-template-columns: 30px 50px 30px;
    text-align: center;   
    background-color: silver;
    border-radius: 20px;
}

#customer-quantity-section>*{
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-enough{
    color: rgb(248, 144, 144);
}
